<div id="welcome">
  <div class="container pt-5 pb-5">
    <h1>Welcome to Elephant Chess!</h1>
    <hr/>
    <p>This is your personal homepage.</p>
    <div class="buttons">
      <a class="btn btn-info" href="/games">Go To My Games</a>
      <a class="btn btn-info" href="/account/profile">Update my email</a>
    </div>
    <br>
    <div>
      <% if (notices.length > 0) { %>
       <h3>Site Notices</h3>
        <% notices.forEach(function(notice) { %>
          <h4><%= notice.title %></h4>
          <p><%= notice.message %></p>
        <% }); %>
      <% } %>
    </div>
    <br>
    <div>
      <h3>Your Statistics</h3>
      <h5>Games Playing: <%= statistics.gamesPlaying %></h5>
      <h5>Games Played: <%= statistics.gamesPlayed %></h5>
      <h5>Games Won: <%= statistics.gamesWon %></h5>
      <h5>Games Lost: <%= statistics.gamesLost %></h5>
      <h5>Site Rank: <%= statistics.siteRank %></h5>
    </div>
  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
